.pagination {
  display: flex;
  justify-content: center;
  .button {
    border-radius: 20px;
    border: 0;
    color: #fff;
    padding: 8px 18px;
    cursor: pointer;
    background-color: gray;
    margin: 0px 4px;
    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
    &:not(:disabled):hover {
      outline: solid;
    }
  }
}