main {
    background-color: #272b33;
    color: #fff;
    padding-bottom: 40px;
}
.container {
  padding: 20px;
}

.filter {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .container {
    justify-content: center;
    display: grid;
    max-width: 1024px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
