main {
  color: #fff;
  padding-bottom: 40px;
  background-color: #272b33;
}
.container {
  padding: 20px;
}

.filter {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .container {
    &.listing {
      display: grid;
      justify-content: center;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    &.listing {
      justify-content: center;
      display: grid;
      max-width: 1024px;
      margin: auto;
      grid-template-columns: 1fr 1fr;
    }
    &.details {
      display: grid;
      max-width: 1024px;
      margin: auto;
    }
  }
}
